@{
    Layout = "~/Views/Layout.cshtml";
}

<div class="content">
    <main>
        <h1>Консалтинг в сфере туризма</h1>

        <h3>Анализ туристических потребностей</h3>
        <p>
            В рамках каждого консалтингового проекта мы анализируем потребности туристов, предпочтения в выборе маршрутов и типов отдыха, а также особенности туристической инфраструктуры. Мы учитываем демографические, культурные и экономические факторы, влияющие на туристические тренды, и разрабатываем рекомендации для оптимизации туристического сервиса.
        </p>

        <h3>Разработка туристических маршрутов</h3>
        <p>
            Основной частью нашего консалтингового подхода является разработка индивидуальных и групповых туристических маршрутов. Мы создаем уникальные предложения, учитывая интересы клиентов, их бюджеты и предпочтения, обеспечиваем доступность, безопасность и удобство путешествий. Мы также предлагаем оптимизацию маршрутов с учетом текущих тенденций и популярных туристических направлений.
        </p>

        <h3>Подготовка рекомендаций по улучшению туристических услуг</h3>
        <p>
            На основе анализа и исследования рынка мы готовим рекомендации по улучшению туристических услуг, предложению новых направлений и улучшению обслуживания клиентов. Это позволяет нашим партнерам повысить конкурентоспособность, улучшить качество сервиса и привлечь больше туристов.
        </p>
    </main>

    <aside class="partners">
        <a href="https://www.coral.ru/" target="_blank">
            <img src="coral_logo.png" alt="Coral Travel" width="200">
        </a>
        <a href="https://www.tutu.ru/" target="_blank">
            <img src="tutu.png" alt="Tutu" width="200">
        </a>
        <a href="https://www.tez-tour.com/" target="_blank">
            <img src="Tez-tour_logo.jpg" alt="Tez Tour" width="200">
        </a>
    </aside>
</div>

<style>
    .partners {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }

        .partners a {
            display: block;
            text-align: center;
        }

        .partners img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
</style>
