@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Контент страницы "Контакты" -->
    <div class="content">
        <h1 align="center">Наши контакты</h1>
        <p>
            Если у вас возникли вопросы или вы хотите получить консультацию по индивидуальному проекту — не стесняйтесь обращаться к нам!
        </p>
        <p>
            <ul type="circle">
            <li><a href="https://vk.com/galaktika_it"> Наша группа в ВК</a></li>
            <li><a href="https://facebook.com/galaktika.it/"> Наш Facebook</a></li>
            </ul>	
        </p>
        <!-- Адрес -->
    <h3>Наш адрес: 196066, г. Санкт-Петербург, Московский пр., 212, офис 5063</h3>
    <div data-custom-css=" #shortcode-1564408697176-672dd003-a2e6 {background-repeat: no-repeat; background-position: left top; }" class="wpb_column vc_column_container vc_col-sm-6 boomapps_vccolumn mpc-column albedo-custom-css-added" id="shortcode-1564408697176-672dd003-a2e6" data-column-id="mpc_column-6167598eaf67464">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p><a href="https://yandex.ru/maps/-/CGvQzXPR" target="_blank" rel="noopener noreferrer"><img class="alignleft wp-image-37379 size-full" src="http://galaktika-it.ru/wp-content/uploads/2019/08/212.png" alt="Контакты" width="533" height="242" srcset="https://galaktika-it.ru/wp-content/uploads/2019/08/212.png 533w, https://galaktika-it.ru/wp-content/uploads/2019/08/212-150x68.png 150w, https://galaktika-it.ru/wp-content/uploads/2019/08/212-512x232.png 512w" sizes="(max-width: 533px) 100vw, 533px"></a></p>
                    </div>
                </div><div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p><span style="color: #ffffff;">о</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>