@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Основной контент о компании -->
<div class="content">
    <h1 align="center">О компании "Путевка Мечты":</h1>
    <p>
        <img src="~/images/dream_tour.png" class="company-image" alt="Компания Путевка Мечты" width="400" height="400">
    </p>
    <p>
        Туроператор «Путевка Мечты» был основан в 2005 году и с тех пор зарекомендовал себя как ведущий организатор путешествий по всему миру. Мы предлагаем широкий спектр туристических услуг, включая организацию туров, бронирование отелей, трансферы, а также индивидуальные путешествия для клиентов с особыми запросами.

    </p>
    <p>
        Наши офисы расположены в крупных городах России, таких как Москва, Санкт-Петербург, Казань и другие. Мы гордимся тем, что предоставляем нашим клиентам возможность открыть для себя самые красивейшие уголки мира, от знаменитых европейских городов до экзотических пляжей и культурных достопримечательностей Азии.
    </p>
    <p>
        В компании «Путевка Мечты» работают только опытные туристические специалисты, которые помогут каждому клиенту выбрать идеальный тур, учитывая все пожелания и предпочтения. Мы следим за всеми новыми тенденциями на рынке туризма и предоставляем только актуальные и интересные маршруты.
    </p>
</div>
